meter {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	height: 1em;

	/* For Firefox */
	background: #eee;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
	border-radius: 3px;
}

/* WebKit */
meter::-webkit-meter-bar {
	background: #eee;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
	border-radius: 3px;
}

meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
	border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
	background: #86cc00;
}

meter::-webkit-meter-suboptimum-value {
	background: #ffdb1a;
}

meter::-webkit-meter-even-less-good-value {
	background: #cc4600;
}

/* Firefox */
meter::-moz-meter-bar {
	border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
	background: #86cc00;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
	background: #ffdb1a;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: #cc4600;
}

@font-face {
	font-family: 'SciFly';
	src: url('/fonts/SciFly-Sans.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/Roboto-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/Roboto-Light.ttf');
	font-weight: lighter;
	font-style: normal;
}

:root {
	--font-main: Dosis;
	--font-accent: SciFly;

	/* scale 1.125
	 1 1.13 1.27  1.42 1.60 1.8
	 1rem = 16pt
	 lineheight= 20px = 1.25rem */

	--font-size-10: 1rem;
	--font-size-11: 1.13rem;
	--font-size-12: 1.27rem;
	--font-size-13: 1.42rem;
	--font-size-14: 1.6rem;
	--font-size-15: 1.8rem;
}

body {
	font-family: var(--font-main);
}
